<h2>{{category.name}}</h2>
<ul class="list-group">
  {{#each sortedListings as |listing|}}
  <li class="list-group-item">{{#link-to 'listing' listing.id}}{{listing.title}} {{listing.date}}{{/link-to}}</li>
  {{/each}}
</ul>
